# UZOP Projekt


## Collection and Validation of Psychophysiological
## Data from Professional and Amateur Players:
## a Multimodal eSports Dataset

U radu je mjereno psihofiziološko stanje 10 igrača tijekom 22 meča MOBA igrice League of legends.
Od 10 igrača, 5 ih je amatera, a 5 profesionalnih.

Svaki tim je odigrao 11 mečeva od kojih su:
3 bez komunikacije u timu protiv pravih igrača iste vještine
3 sa komunikacijom protiv pravih igrača iste vještine
2 bez komunikacije protiv botova
3 sa komunikacijom protiv botova

Skupljeni podaci senzora:
Pokreti ruku - imu_left_hand.csv, imu_right_hand.csv
Pokreti stolice - imu_chair_back.csv, imu_chair_seat.csv
Pokreti glave - imu_head.csv
Pogled - eye_tracker.csv
Elektrodermalna aktivnost - gsr.csv
Otkucaji srca - heart_rate.csv
Aktivnost mišića - emg.csv
Aktivnost mozga - eeg_band_power.csv, eeg_metrics.csv
Temperatura lica - facial_skin_temperature.csv
Aktivnost tipkovnice - keyboard.csv
Aktivnost miša - mouse.csv
Zasićenost kisikom - spo2.csv
Podaci o okolini - environment.csv

Ostali podaci:
Meta podaci o meču - meta_info.json
Zapis događaja tijekom meča - replay.json
Povratne informacije igrača nakon meča - player_report.json

## Dodavanje potrebnih biblioteka

In [318]:
import pandas as pd
import numpy as np

//Opisati prvi mec pomocu meta podataka?

## Učitavanje podataka senzora igrača iz meča bez komunikacije protiv pravih igrača

In [319]:
eegBandPower_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/eeg_band_power.csv")
eegMetrics_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/eeg_metrics.csv")
emg_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/emg.csv")
eyeTracker_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/eye_tracker.csv")
facialSkin_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/facial_skin_temperature.csv")
gsr_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/gsr.csv")
heartRate_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/heart_rate.csv")
imuChairBack_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/imu_chair_back.csv")
imuChairSeat_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/imu_chair_seat.csv")
imuLeftHand_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/imu_left_hand.csv")
imuRightHand_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/imu_right_hand.csv")
imuHead_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/imu_head.csv")
keyboard_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/keyboard.csv")
mouse_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/mouse.csv")
o2Saturation_ama = pd.read_csv("eSports_Sensors_Dataset/matches/match_3/player_1/spo2.csv")

## Početni pregled podataka

### Aktivnost mozga

In [320]:
eegBandPower_ama.shape

(1592, 26)

In [321]:
eegBandPower_ama.head()

,time,AF3/theta,AF3/alpha,AF3/betaL,AF3/betaH,AF3/gamma,T7/theta,T7/alpha,T7/betaL,T7/betaH,...,T8/theta,T8/alpha,T8/betaL,T8/betaH,T8/gamma,AF4/theta,AF4/alpha,AF4/betaL,AF4/betaH,AF4/gamma
0,0.0,60.585125,42.434000,26.244500,11.171875,6.411875,6.171250,7.971250,6.57825,6.153250,...,4.648375,4.932700,1.986825,4.858250,5.513250,25.836588,21.956125,16.224250,8.126000,6.759000
1,1.0,59.202625,37.368667,15.738833,7.385125,10.349208,10.745083,7.189583,5.31125,3.823667,...,10.972125,6.214400,5.008775,2.835500,9.433500,44.876029,29.446542,8.784333,6.979083,7.910083
2,2.0,98.036625,29.010500,10.363143,7.097911,8.053875,14.071964,7.795321,4.32925,5.313000,...,13.638911,4.911336,4.126975,4.574571,9.461357,86.560513,23.468804,7.793429,6.992964,7.405679
3,3.0,84.855225,22.443433,8.173267,6.682225,5.623475,10.553183,6.868683,3.64373,4.798867,...,8.858025,4.262063,3.836522,4.866600,6.582900,57.966772,18.679442,7.407400,5.196917,5.313983
4,4.0,102.198077,26.761016,11.163516,5.251593,4.740714,10.320960,7.773685,6.49916,4.478548,...,7.928980,4.423837,6.279414,5.423129,5.922565,49.771858,23.916633,8.690484,5.534573,4.480766

In [322]:
eegBandPower_ama.columns.values

array(['time', 'AF3/theta', 'AF3/alpha', 'AF3/betaL', 'AF3/betaH',
       'AF3/gamma', 'T7/theta', 'T7/alpha', 'T7/betaL', 'T7/betaH',
       'T7/gamma', 'Pz/theta', 'Pz/alpha', 'Pz/betaL', 'Pz/betaH',
       'Pz/gamma', 'T8/theta', 'T8/alpha', 'T8/betaL', 'T8/betaH',
       'T8/gamma', 'AF4/theta', 'AF4/alpha', 'AF4/betaL', 'AF4/betaH',
       'AF4/gamma'], dtype=object)

Značajke eegBandPower_ama:

In [323]:
eegMetrics_ama.shape

(1588, 7)

In [324]:
eegMetrics_ama.head()

   time  Engagement  Excitement    Stress  Relaxation  Interest     Focus
0   0.0    0.556424    0.343362  0.372889    0.374140  0.526667  0.471662
1   1.0    0.563887    0.340924  0.370238    0.369393  0.524623  0.478231
2   2.0    0.572415    0.338138  0.367209    0.363969  0.522288  0.485738
3   3.0    0.581797    0.335074  0.363876    0.358002  0.519718  0.493996
4   4.0    0.591811    0.331802  0.360319    0.351632  0.516976  0.502811

In [325]:
eegMetrics_ama.columns.values

array(['time', 'Engagement', 'Excitement', 'Stress', 'Relaxation',
       'Interest', 'Focus'], dtype=object)

Značajke eegMetrics_ama:
time - vrijeme u minutama
engagement - aktivnost mozga
excitement - uzbuđenje
stress - stres
relaxation - opuštenost
interest - interes
focus - fokus

### Aktivnost mišića

In [326]:
emg_ama.shape

(1593, 3)

In [327]:
emg_ama.head()

   time  emg_right_hand  emg_left_hand
0   0.0        5.928571       7.071429
1   1.0        7.150794       6.801587
2   2.0        5.949643       6.845280
3   3.0        5.378126       5.991212
4   4.0        6.137803       6.666715

In [328]:
emg_ama.columns.values

array(['time', 'emg_right_hand', 'emg_left_hand'], dtype=object)

Značajke emg_ama:
time - vrijeme u minutama
emg_right_hand - kontrakcija mišića desne ruke
emg_left_hand - kontrakcija mišića lijeve ruke

### Praćenje pogleda

In [329]:
eyeTracker_ama.shape

(1592, 3)

In [330]:
eyeTracker_ama.head()

   time  gaze_movement  pupil_diameter
0   0.0    2747.526039        4.621058
1   1.0    2475.337210        4.522496
2   2.0    2856.365637        4.512538
3   3.0    1601.237059        4.487380
4   4.0    2672.972754        4.553411

In [331]:
eyeTracker_ama.columns.values

array(['time', 'gaze_movement', 'pupil_diameter'], dtype=object)

Značajke eyeTracker_ama:
time - vrijeme u minutama
gaze_movement - kretanje pogleda
pupil_diameter - promjer zjenice

### Temperatura lica

In [332]:
facialSkin_ama.shape

(73, 2)

In [333]:
facialSkin_ama.head()

   time  facial_skin_temperature
0   1.0                35.224500
1   2.0                35.218567
2   3.0                35.211786
3   4.0                35.204327
4   5.0                35.196365

In [334]:
facialSkin_ama.columns.values

array(['time', 'facial_skin_temperature'], dtype=object)

Značajke facialSkin_ama:
time - vrijeme u minutama
facial_skin_temperature - temperatura kože lica u stupnjevima celzijusa

### Elektrodermalna aktivnost

In [335]:
gsr_ama.shape

(1593, 2)

In [336]:
gsr_ama.head()

   time           gsr
0   0.0  27458.488272
1   1.0  27547.022201
2   2.0  27654.406824
3   3.0  27836.016424
4   4.0  27882.153697

In [337]:
gsr_ama.columns.values

array(['time', 'gsr'], dtype=object)

Značajke gsr_ama:
time - vrijeme u minutama
gsr - provodljivost kože

### Otkucaji srca

In [338]:
heartRate_ama.shape

(24, 2)

In [339]:
heartRate_ama.head()

   time  heart_rate
0   0.0   66.000000
1   1.0   65.333333
2   2.0   65.142857
3   3.0   65.066667
4   4.0   65.032258

In [340]:
heartRate_ama.columns.values

array(['time', 'heart_rate'], dtype=object)

Značajke heartRate_ama:
time - vrijeme u minutama
heart_rate - broj otkucaja srca po minuti

### Pokreti stolice, ruku i glave

In [341]:
imuChairBack_ama.shape

(1593, 17)

In [342]:
imuChairBack_ama.head()

,time,linaccel_x,linaccel_y,linaccel_z,gravity_x,gravity_y,gravity_z,gyro_x,gyro_y,gyro_z,euler_x,euler_y,euler_z,quaternion_w,quaternion_y,quaternion_x,quaternion_z
0,0.0,0.006000,-0.280462,0.074000,0.03,-9.74,-1.12,-0.050000,-0.009615,0.004808,345.125,0.125,96.5,0.659912,-0.098877,-0.739807,0.086121
1,1.0,0.003111,-0.278639,0.074061,0.03,-9.74,-1.12,0.002904,0.003108,0.007916,345.125,0.125,96.5,0.659912,-0.098877,-0.739807,0.086121
2,2.0,0.002405,-0.279595,0.074597,0.03,-9.74,-1.12,0.017986,0.003006,0.019017,345.125,0.125,96.5,0.659912,-0.098877,-0.739807,0.086121
3,3.0,0.002517,-0.279893,0.076740,0.03,-9.74,-1.12,-0.000325,0.004993,-0.000356,345.125,0.125,96.5,0.659912,-0.098877,-0.739807,0.086121
4,4.0,0.002409,-0.280901,0.077946,0.03,-9.74,-1.12,0.028627,-0.007510,-0.020520,345.125,0.125,96.5,0.659912,-0.098877,-0.739807,0.086121

In [343]:
imuChairBack_ama.columns.values

array(['time', 'linaccel_x', 'linaccel_y', 'linaccel_z', 'gravity_x',
       'gravity_y', 'gravity_z', 'gyro_x', 'gyro_y', 'gyro_z', 'euler_x',
       'euler_y', 'euler_z', 'quaternion_w', 'quaternion_y',
       'quaternion_x', 'quaternion_z'], dtype=object)

In [344]:
imuChairSeat_ama.shape

(1593, 17)

In [345]:
imuChairSeat_ama.head()

,time,linaccel_x,linaccel_y,linaccel_z,gravity_x,gravity_y,gravity_z,gyro_x,gyro_y,gyro_z,euler_x,euler_y,euler_z,quaternion_w,quaternion_y,quaternion_x,quaternion_z
0,0.0,0.127077,-0.051538,0.068769,-0.07,-1.26,-9.72,0.009615,0.040385,-0.016346,160.9375,-0.4375,172.5625,0.063293,-0.165039,-0.984131,0.014709
1,1.0,0.129026,-0.052533,0.069489,-0.07,-1.26,-9.72,-0.023310,0.031138,-0.004186,160.9375,-0.4375,172.5625,0.063293,-0.165039,-0.984131,0.014709
2,2.0,0.129493,-0.052425,0.067370,-0.07,-1.26,-9.72,-0.020593,0.016135,0.001554,160.9375,-0.4375,172.5625,0.063293,-0.165039,-0.984131,0.014709
3,3.0,0.130748,-0.051624,0.067296,-0.07,-1.26,-9.72,-0.010636,0.012658,-0.010557,160.9375,-0.4375,172.5625,0.063293,-0.165039,-0.984131,0.014709
4,4.0,0.131553,-0.051739,0.067103,-0.07,-1.26,-9.72,-0.005146,0.000666,-0.001138,160.9375,-0.4375,172.5625,0.063293,-0.165039,-0.984131,0.014709

In [346]:
imuChairSeat_ama.columns.values

array(['time', 'linaccel_x', 'linaccel_y', 'linaccel_z', 'gravity_x',
       'gravity_y', 'gravity_z', 'gyro_x', 'gyro_y', 'gyro_z', 'euler_x',
       'euler_y', 'euler_z', 'quaternion_w', 'quaternion_y',
       'quaternion_x', 'quaternion_z'], dtype=object)

In [347]:
imuLeftHand_ama.shape

(1593, 17)

In [348]:
imuLeftHand_ama.head()

,time,linaccel_x,linaccel_y,linaccel_z,gravity_x,gravity_y,gravity_z,gyro_x,gyro_y,gyro_z,euler_x,euler_y,euler_z,quaternion_w,quaternion_y,quaternion_x,quaternion_z
0,0.0,-0.135714,0.012143,-0.014762,-1.258095,1.688810,9.570000,-0.346726,0.038690,-0.090774,86.937500,-7.364583,-9.992560,0.721341,-0.012710,0.107522,-0.684072
1,1.0,-0.127619,0.010873,-0.011111,-1.296825,1.677222,9.568413,-0.175099,0.029762,-0.222718,86.937500,-7.598710,-9.955853,0.721247,-0.010981,0.108592,-0.684030
2,2.0,-0.131070,0.011907,-0.010476,-1.300033,1.670447,9.569320,-0.217029,-0.200660,-0.152071,86.947082,-7.618959,-9.922718,0.721158,-0.010683,0.108484,-0.684138
3,3.0,-0.136353,0.006727,-0.008791,-1.278162,1.662144,9.572674,-0.263069,-0.223722,-0.160397,86.975305,-7.485596,-9.874504,0.721145,-0.011245,0.107408,-0.684307
4,4.0,-0.132945,0.000675,-0.005931,-1.272401,1.654457,9.576455,-0.172453,-0.285672,-0.209870,86.996922,-7.452708,-9.810244,0.721017,-0.011122,0.106833,-0.684537

In [349]:
imuLeftHand_ama.columns.values

array(['time', 'linaccel_x', 'linaccel_y', 'linaccel_z', 'gravity_x',
       'gravity_y', 'gravity_z', 'gyro_x', 'gyro_y', 'gyro_z', 'euler_x',
       'euler_y', 'euler_z', 'quaternion_w', 'quaternion_y',
       'quaternion_x', 'quaternion_z'], dtype=object)

In [350]:
imuRightHand_ama.shape

(1593, 17)

In [351]:
imuRightHand_ama.head()

,time,linaccel_x,linaccel_y,linaccel_z,gravity_x,gravity_y,gravity_z,gyro_x,gyro_y,gyro_z,euler_x,euler_y,euler_z,quaternion_w,quaternion_y,quaternion_x,quaternion_z
0,0.0,-0.063095,-0.022619,0.022857,2.389048,1.730238,9.346429,-0.319940,-0.552083,0.095238,122.248512,14.105655,-10.471726,-0.477023,0.137977,0.065047,0.865548
1,1.0,-0.048810,-0.021984,0.021429,2.442698,1.717381,9.333889,0.050099,-0.098710,0.021825,122.284226,14.426091,-10.414187,-0.476597,0.138766,0.067797,0.865428
2,2.0,-0.027190,-0.022244,0.016292,2.528264,1.691700,9.314942,-0.370515,-1.571050,-0.150925,122.360487,14.940450,-10.284651,-0.475785,0.139776,0.072438,0.865316
3,3.0,-0.039225,-0.016234,0.016969,2.652897,1.670110,9.283168,-0.102988,0.246518,-0.070432,122.524325,15.694161,-10.179992,-0.474190,0.141821,0.078857,0.865284
4,4.0,-0.014722,-0.009662,0.014146,2.715918,1.638440,9.267468,-0.391769,-3.071846,-0.276015,122.580319,16.088304,-10.015319,-0.473561,0.142033,0.082692,0.865157

In [352]:
imuRightHand_ama.columns.values

array(['time', 'linaccel_x', 'linaccel_y', 'linaccel_z', 'gravity_x',
       'gravity_y', 'gravity_z', 'gyro_x', 'gyro_y', 'gyro_z', 'euler_x',
       'euler_y', 'euler_z', 'quaternion_w', 'quaternion_y',
       'quaternion_x', 'quaternion_z'], dtype=object)

Značajke imuChairBack_0, imuChairSeat_0, imuLeftHand_0, imuRightHand_0:
time - vrijeme u minutama
linaccel_x - linearno ubrzanje na x osi
linaccel_y - linearno ubrzanje na y osi
linaccel_z - linearno ubrzanje na z osi
gravity_x - ubrzanje gravitacije na x osi
gravity_y - ubrzanje gravitacije na y osi
gravity_z - ubrzanje gravitacije na z osi
gyro_x - rotacijska brzina oko x osi
gyro_y - rotacijska brzina oko y osi
gyro_z - rotacijska brzina oko z osi
euler_x - eulerov kut x osi
euler_y - eulerov kut y osi
euler_z - eulerov kut z osi
quaternion_w - vrijednost w kvaterniona
quaternion_y - vrijednost y kvaterniona
quaternion_x - vrijednost x kvaterniona
quaternion_z - vrijednost z kvaterniona

In [353]:
imuHead_ama.shape

(1592, 4)

In [354]:
imuHead_ama.head()

   time  rot_x  rot_y  rot_z
0   0.0    0.0    0.0    0.0
1   1.0    0.0    0.0    0.0
2   2.0    0.0    0.0    0.0
3   3.0    0.0    0.0    0.0
4   4.0    0.0    0.0    0.0

In [355]:
imuHead_ama.columns.values

array(['time', 'rot_x', 'rot_y', 'rot_z'], dtype=object)

Značajke imuHead_ama:
time - vrijeme u minutama
rot_x - rotacija glave oko x osi
rot_y - rotacija glave oko y osi
rot_z - rotacija glave oko z osi

### Tipkovnica

In [356]:
keyboard_ama.shape

(1593, 2)

In [357]:
keyboard_ama.head()

   time  buttons_pressed
0   0.0              0.0
1   1.0              0.0
2   2.0              0.0
3   3.0              0.0
4   4.0              0.0

In [358]:
keyboard_ama.columns.values

array(['time', 'buttons_pressed'], dtype=object)

Značajke keyboard_ama:
time - vrijeme u minutama
buttons_pressed - broj pritisnutih tipki

### Miš

In [359]:
mouse_ama.shape

(1592, 3)

In [360]:
mouse_ama.head()

   time  mouse_movement  mouse_clicks
0   0.0     1512.203046        1.0000
1   1.0     2625.344249        1.5000
2   2.0     2505.449371        3.7500
3   3.0     1986.794607        1.8750
4   4.0     4464.766116        0.9375

In [361]:
mouse_ama.columns.values

array(['time', 'mouse_movement', 'mouse_clicks'], dtype=object)

Značajke mouse_ama:
time - vrijeme u minutama
mouse_movement - kretanje miša
mouse_clicks - klikovi mišem

### Zasićenost kisikom

In [362]:
o2Saturation_ama.shape

(1585, 2)

In [363]:
o2Saturation_ama.head()

   time       spo2
0   5.0  99.854424
1   6.0  99.736685
2   7.0  99.602127
3   8.0  99.454113
4   9.0  99.296115

In [364]:
o2Saturation_ama.columns.values

array(['time', 'spo2'], dtype=object)

Značajke o2Saturation_0:
time - vrijeme u minutama
spo2 - postotak zasićenosti kisikom

## Deskriptivna analiza